body {
    background-image: url(image/kirari.jpg);
    font-family: 'Noto Serif JP', serif;
    max-width: 1500px;
}

#gnav ul{
    overflow: hidden;
}

#gnav li{
    float: left;
    width: 150px
    
}

.inner {
    width: 80%;
    margin: 0 auto;
    
    text-align: center;


}


li {
    list-style: none;
    /* padding-left: 650px; */
}

#gnav {
    font-family: sans-serif;
}

a {
    color: rgb(53, 31, 3);
    text-decoration-line: none;
}


a:link {
    color: rgb(58, 32, 8);
}

header {
    width: 1500px;
    height:  300px;
}

main {
    width: 1500px;
    height:  2000px;
}

footer {
    width: 1500px;
    height: 800px;
    background-image: url(image/brawn.jpg);
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}



/* p.space {
    border-top: 10px white;
    padding-top: 30px;
    margin: 0px
    ; */
}





#relative {
    position: relative;
    top:120px;
    left: 30%;

}

.rod {
    border-bottom: 1px solid white;
}

.uenoyatu {
    width: 30%;
    padding-left: 480px;
}

li + li {
    border-left: 1px solid rgb(184, 161, 118);
}

.kan {
    
    text-align: center;
    padding-right: 100px;
}

.storenews {
    width: 200px;
    padding-right: 100px;
}

.insta {
    width: 2.8%;
    position: relative;left: 300px;
    position: relative;bottom: 50px;
    margin: 0;
    padding: 0;
}

.facebook {
    width: 2.8%;
    position: relative;left: 220px;
    position: relative;bottom: 50px;
    margin: 0;
    padding: 0;
}

.togo {
    white-space: nowrap;
    position: relative;bottom: 11px;
}

.store {
    width:8%;
    position: absolute;
    top: 30%;
    left: 0;
    padding-left: 280px;
}

.ichigo {
    background-image: url(image/ber.jpg);
    width: 1500px;
    height: 120px;
    position: relative;bottom: 280px;
}

.menu {
    width: 5%;
    position: absolute;
    top: 30%;
    left: 0;
    padding-left: 440px;
    height: 50%;

}

.party {
    width: 7%;
    position: absolute;
    top: 26%;
    left: 0;
    padding-left: 570px;
    height: 58%;
    margin: auto;
   
}

.calender {
    width: 7%;
    position: absolute;
    top: 28%;
    left: 0;
    padding-left: 730px;
    height: 50%;
    ;
}

.access {
    width: 6%;
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    bottom: 10%;
    padding-left: 360px;
    height: 60%;
    padding-bottom: 100px;
    margin: auto;
}

.nennmatu {
    width: 30%;
    height: 17%;
    padding-right: 600px;
    padding-left: 230px;
}  

.wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.orange {
font-size: 0px;
}

.lemon {
    position: relative;
    font-size: 16px;
    padding-left: 720px;
    bottom: 270px;
}

.bou {
    border-bottom: 1px solid rgb(71, 28, 3);
    padding-bottom: 12px;
    padding-left: 100px;
    

    
}

.tyairo {
    color: chocolate;
}

.picture1 {
    width: 375px;
    height: 300px;
 
}

.picture2 {
    width: 375px;
    height: 300px;
   
}

.picture3 {
    width: 375px;
    height: 300px;
}
.picture4 {
    width: 375px;
    height: 300px;
}

.foo1 {
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
    bottom: 10px;
}

.foo {
    text-align: center;
    border-bottom: 1px solid   rgb(146, 120, 90);
    border-top: 1px solid rgb(146, 120, 90);
    margin: 0;
}

.dog {
    padding-top: 80px;
}

.access2 {
    width: 120px;
    height: 100px;
    padding-left: 600px;
}


.cat {
    padding-left: 650px;
}

/* .tanjirou {
    background-image: url(image/calecale.jpg);
    width: 1500px;
    height: 240px;
    position: relative;bottom: 300px;
} */

.nezuko {
    background-color: white;
    width: 1500px;
    height: 300px;
}

.zenitu {
    background-image: url(image/menumenu.jpg);
    width: 1500px;
    height: 500px;
}

.inosuke {
    width: 120px;
    height: 120px;
    padding-left: 620px;
   
} 

.shinobu {
    padding-left: 800px;
    
}

.leeknow {
    width: 100%;
    height: 400px;
    padding-bottom: 100px;
}